* {
    box-sizing: border-box;
    font-family: 'Ubuntu';
    margin: 0;
    padding: 0;
}



@font-face {
    font-family: 'Ubuntu';
    src: url(/assets/FONTS/Ubuntu-Regular.woff),
         url(/assets/FONTS/Ubuntu-Regular.woff2);
  }

  body {
    overflow-x: hidden;
  }

  :root {
    --theme: #d00;
    --aankondiging: #ff8c00;
    --text: rgb(247, 246, 246);
    --button: #55277E;
    --section: #FAEDED;
    --section2: #F3F3F3;
  }


  /* top navbar */



 

  .top-elements {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    margin-top: 40px;
    margin-right: 166px;
  }

  .top-logo {
    margin-right: 10px;
  }

  .down-chevron {
    width: 20px;
  }

  .ticket {
    width: 20px;
    margin-left: 10px;
  }

  .search {
    background-color: var(--theme);
    border: 17px var(--theme) solid;
    margin-left: 30px;
    box-shadow: 0.5px 0.5px 0.5px 0.5px;
  }

  /*Bottom nav*/


  .bottom-elements {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 20px;
    font-weight: 700;
  }

  .user {
    width: 20px;
  }

 .last {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
    margin-left: 202px;
 }

 .aankondiging {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: var(--aankondiging) ;
    padding: 20px;
   
    
 }

 .triangle {
    width: 20px;
 }

 .aankondiging-text {
    display: flex;
    gap: 10px;
    margin-right: 545px;
 }

 /* main part */

 .plan-reis {
    margin-top: 70px;
    font-size: 30px;
    margin-right: 972px;
    color: var(--text);
    display: flex;
    justify-content: center;
    
 }

 .main-info {
    background: var(--theme);
    width: 100%;
    height: 200px;
    
    
 }

 .first-form {
    margin-top: 50px;
    background-color: white;
    padding: 5px;
    border-radius: 3px;
    padding-left: 10px;
    
 }

 .first-form1 {
    margin-top: 50px;
    background-color: white;
    padding: 5px;
    border-radius: 3px;
    padding-left: 10px;
    
    
 }

 .field {
    width: 470px;
    height: 56px;
    border: 2px solid white;
    border-radius: 2px;
    outline: none;
 }

 .letter {
    font-size: 17px;
    font-weight: bold;
    
    
    
 }

 .forms {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px
 }

.background {
    background-color: var(--theme);
}



input[type=text] {
    font-size: 17px;
    margin-left: 13px;
    
}

.arrows {
    width: 50px;
    margin-top: 45px;
}


.fill-in {
    
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 30px;
    
    
}

.cal {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
    margin-top: -20px;
    
}

.calender-time {
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.calender {
    width: 30px;
}


.chev {
    width: 20px;
}

.plannen-button {
    color: white;
    font-size: 15px;
    font-weight: bold;
    
}

.plannen {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-top: -20px;
    margin-left: 465px;
    background-color: var(--button);
    gap: 5px;
    padding-right: 30px;
    padding-left: 30px;
}

.arrow1 {
    width: 20px;
    
}

.choose-section {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
    padding: 20px;
}



.option2 {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
    
}

.option3 {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
    
}

.storingen {
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
  
}




.storingen1 {
    font-size: 17px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}


.storingen1:hover, .storingen2:hover, .storingen:hover {
    text-decoration: underline;
}

.storingen2 {
    font-size: 17px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}




.move {
    display: flex;
    margin-right: 895px;
}

.move1 {
    display: flex;
    margin-right: 856px;
}


.chauffeur {
    width: 100%;
}

.voorraan {
    display: flex;
    justify-content: flex-end;
    align-items: end;
    flex-direction: column;
    margin-right: 50px;
    line-height: 33px;
}



.title2 {
    /* margin-top: -300px; */
    font-size: 25px;
    color: var(--theme);
    margin-top: 100px;
    background-color: white;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    
    
}

.text1 {
    background-color: white;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}


.lees {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;

}

.img {
    position: absolute;
    width: 100%;
}

.whiteback {
    position: relative;
}

li {
    list-style: none;
}

.second-main {
    background-color: var(--section);
}

.third {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 158px;
    line-height: 1.3;
    gap: 30px;
    background-color: var(--section);
}

.third1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 73px;
    line-height: 1.3;
    gap: 30px;
    background-color: var(--section);
}

.first-title {
    font-size: 25px;
    color: var(--theme);
    
}

.lees-meer {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 70px;
    font-weight: bold;
}

.lees-meer1 {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 70px;
    font-weight: bold;
    margin-top: 107px;
    
}

.lees-meer2 {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 70px;
    font-weight: bold;
    margin-top: 195px;
}

.first-page {
   line-height: 1.5;
   background-color: white;
   border: 20px solid white;
   height: 362px;
   width: 390px;
}

.first-page1 {
    line-height: 1.5;
    background-color: white;
    border: 20px solid white;
    height: 362px;
    width: 390px;
    margin-bottom: 70px;
 }


 .fourth {
    background-color: var(--section2);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    gap: 30px;
}

.fourth1 {
    background-color: var(--section2);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.guy, .girl, .bus {
    width: 390px;
    height: 362px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: absolute;
    
    
}

.second-page {
    margin-top: 100px;
    margin-bottom: 100px;
    width: 390px;
    height: 362px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}


.pos {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    position: relative;
    gap: 5px;
    margin-top: 300px;
    line-height: 1.5;
    
}

.second-text {
    font-size: 17px;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 10%, rgba(0,0,0,1) 300%); 
    
}

.second-text1 {
    font-size: 17px;
    color: white;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 10%, rgba(0,0,0,1) 300%); 
    
}


.arr {
    width: 18px;
    margin-top: 20px;
}

.filler {
    display: flex;
    justify-content: center;
    align-items: center;

    
}

.between {
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: white;
}

.butt {
   background-color: var(--button); 
   color: white;
   font-size:  17px;
   margin-left: 100px;
   margin-top: 20px;
   margin-bottom: 20px;
   padding: 15px;
   
}


.ar {
    width: 15px;
    align-self: center;

}

.second-text2 {
    font-size: 17px;
    margin-top: -62px;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 10%, rgba(0,0,0,1) 300%); 
    
}

.second-text3 {
    font-size: 17px;
    margin-top: -35px;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 10%, rgba(0,0,0,1) 300%); 
    
}

.information {
    background-color: var(--section2);
    display: grid;
    grid-template-columns: repeat(4, 300px);
    place-content: center center;
    
}


.bottom-list {
    margin-top: 30px;
    margin-bottom: 30px;
}

.listings-title {
font-weight: bold;
    
}

.listings {
    line-height: 27px;
}

.title4 {
    margin-top: 10px;
    font-size: 20px;
    color: var(--theme);
    font-weight: 500;
    margin-left: 140px;
}

.b {
    
    padding: 20px;
}

.c {
    
    border-top: 1px solid lightgrey;
    padding: 10px;
}

.i {
margin-left: 150px;
filter: grayscale(100%);
}

.d {
margin-left: 50px;
filter: grayscale(100%);
}

.footer {
background-color: var(--section2);
}

.disclaim {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    border-top: 1px solid lightgrey;
}

.w {
    margin-left: 160px;
    margin-top: 20px;
    margin-bottom: 20px;
    
}



.foot {
    background-color: white;
    display: flex;
    justify-content: space-between;

}

.ye {
    margin-top: 20px;
    margin-left: 160px;
    margin-bottom: 20px;
}

.trans {
    margin-right: 100px;
}